<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!-- <add key="dev" value="https://pkgs.dev.azure.com/postsharp/Metalama-Public/_packaging/dev/nuget/v3/index.json" /> -->
    <!-- <add key="consolidated-linux" value="/mnt/c/src/Metalama/artifacts/consolidated/debug/" /> -->
    <add key="devtony" value="https://f.feedz.io/postsharp/tony-dev/nuget/index.json" />
  </packageSources>
</configuration>