<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!-- <add key="dev" value="https://pkgs.dev.azure.com/postsharp/Metalama-Public/_packaging/dev/nuget/v3/index.json" /> -->
    <!-- <add key="consolidated-linux" value="/mnt/c/src/Metalama/artifacts/consolidated/debug/" /> -->
    <add key="azure" value="https://dev4tony.blob.core.windows.net/feed-dev/index.json" />
  </packageSources>
</configuration>